<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-badge
          color="light-green accent-3"
          dot
          overlap
          :value="isOnline"
        >
          <v-icon>mdi-account</v-icon>
        </v-badge>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">Авторизация</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field label="Имя пользователя" v-model="username" required></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Пароль" v-model="password" type="password"
                            required></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <div
          class="text-center error--text"
          v-for="(error, i) in errors"
          :key="i"
          v-text="error.message"
        ></div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="grey darken-1"
          outlined
          @click="dialog = false"
        >Отмена
        </v-btn>
        <v-btn
          color="blue darken-1"
          outlined
          @click="logout"
        >Выход
        </v-btn>
        <v-btn
          color="blue darken-1"
          :loading="tokenAuthMutationLoading"
          @click="tokenAuth"
        >Войти
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import TOKEN_AUTH from '@/graphql/Mutations/TokenAuth.graphql';
import { onLogin, onLogout } from '@/plugins/vue-apollo';

export default {
  name: 'AuthDialog',
  data() {
    return {
      dialog: false,
      username: 'protasovse',
      password: '2323',
      errors: [],
      tokenAuthMutationLoading: false,
      isOnline: false,
    };
  },
  methods: {
    tokenAuth() {
      const { username, password } = this;
      this.tokenAuthMutationLoading = true;
      this.$apollo.mutate({
        mutation: TOKEN_AUTH,
        variables: { username, password },
      }).then(({ data: { tokenAuth } }) => {
        this.login(tokenAuth.token);
      }).catch(({ graphQLErrors }) => {
        this.errors = graphQLErrors;
      }).finally(() => {
        this.tokenAuthMutationLoading = false;
      });
    },
    async login(token) {
      await onLogin(this.$apolloProvider.defaultClient, token);
      this.$connect(`${process.env.VUE_APP_WEBSOCKET}?${token}`, { format: 'json' });
      this.dialog = false;
      this.errors = [];
      this.wsEventActivate();
    },
    async logout() {
      await onLogout(this.$apolloProvider.defaultClient);
      this.$disconnect();
      this.dialog = false;
      this.errors = [];
    },
    wsEventActivate() {
      this.$options.sockets.onopen = () => {
        this.isOnline = true;
      };
      this.$options.sockets.onclose = () => {
        this.isOnline = false;
      };
    },
    wsEventsDeactivate() {
      delete this.$options.sockets.onopen;
      delete this.$options.sockets.onclose;
    },
  },
};
</script>

<style scoped>

</style>
