<template>
  <div id="question_create">
    <v-list>
      <v-list-item
        v-for="q in questions.objects"
        :key="q.id"
      >{{ q.id }}. {{ q.title }}
      </v-list-item>
    </v-list>
    <v-sheet
      class="dialog pa-5"
      :tile="false"
      :elevation="20"
    >
      <v-textarea
        outlined
        name="text"
        label="Введите текст вопроса"
        v-model="questionTitle"
        @keyup.enter.native="questionMutation"
      ></v-textarea>
      <div class="text-center">
        <v-btn
          rounded
          color="primary"
          dark
          @click="questionMutation"
          :loading="questionMutationLoading"
        >Отправить вопрос
        </v-btn>
      </div>
    </v-sheet>
  </div>
</template>

<script>
import QUESTIONS_ALL from '@/graphql/Queries/AllQuestions.graphql';
import QUESTION_MUTATION from '@/graphql/Mutations/QuestionMutation.graphql';

export default {
  name: 'QuestionCreate',
  data() {
    return {
      questions: [],
      questionTitle: '',
      questionMutationLoading: false,
    };
  },
  apollo: {
    questions: QUESTIONS_ALL,
  },
  methods: {
    questionMutation() {
      const title = this.questionTitle;
      this.questionMutationLoading = true;
      this.questionTitle = '';
      this.$apollo.mutate({
        mutation: QUESTION_MUTATION,
        variables: {
          title,
        },
        update: (store, { data: { questionMutation } }) => {
          const data = store.readQuery({ query: QUESTIONS_ALL });
          data.questions.results.push(questionMutation.question);
          store.writeQuery({ query: QUESTION_MUTATION, data });
        },
      }).finally(() => {
        this.questionMutationLoading = false;
        console.log(this.$store);
      });
    },
  },
  created() {
    this.$options.sockets.onmessage = ({ data }) => {
      const { status, data: questionData } = JSON.parse(data);
      if (status === 'ok') {
        // eslint-disable-next-line no-alert
        alert(`Новый вопрос: ${questionData.title}`);
      }
    };
  },
  destroyed() {
    // delete this.$options.sockets.onmessage;
  },
};
</script>

<style lang="sass" scoped>
</style>
