<template>
  <div class="home">
    <QuestionCreate/>
  </div>
</template>

<script>
import QuestionCreate from '@/components/QuestionCreate.vue';

export default {
  name: 'Home',
  components: {
    QuestionCreate,
  },
};
</script>
